{
  "presets": [
    ["@babel/preset-react", { "useBuiltIns": "entry" }],
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "modules": false,
        "exclude": ["@babel/plugin-transform-typeof-symbol"],
        "loose": true,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            ">0.25%",
            "not ie 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components"
  ],
  "env": {
    "development": {
      "retainLines": true,
      "plugins": [
        "babel-plugin-styled-components"
      ]
    },
    "production": {
      "plugins": [
        "babel-plugin-styled-components"
      ]
    }
  }
}
